<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="discription" content="this is the first work Fakebook ">
    <meta name="creator" content="Mariam Shamsueva">

    <title>Fakebook </title>
    <link rel="stylesheet" href="FakeBook.css">

</head>
<body>

<div class="main">
    <h1>Fakebook</h1>
    </div>
<ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#find friends">Find friends</a></li>
    <li><a href="#news">News</a></li>
</ul>

   <p><img src="https://nathanjurgenson.files.wordpress.com/2010/05/facebook-fakebook.jpg" alt="FakeBook logo" width="500" height="100"></p>


<form><label>
        <b>Search:</b>
    </label>
   <input type="text" placeholder="input here">
</form>


       <p> <img src="https://www.w3schools.com/html/img_girl.jpg" alt="Girl in a jacket" width="300" height="400"></p>

<h1>Mariam Shamsueva</h1>

<div class="topnav=">
    <b><a href="#">Friends</a></b>
    <b><a href="#">Photos</a></b>
   <b> <a href="#">Videos</a></b>
</div>
<button>add a friend</button> <button>settings</button>
<h2 style="color:navy;">
Personal information</h2>
<p class="ridge"></p>
<div class="static">
<ul>
    <li><b>location:</b>Vienna</li>
    <li><b>age:</b>29</li>
    <li><b>Education:</b> Heriot-Watt University</li>
    <li><b>Hobby:</b> Movies Music Travel</li>
</ul>
</div>
</body>

</html>