<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Portfolio</title>
        <link rel="stylesheet" href="/static/css/main-style.css">
    </head>

    <body>
        <h1>My Portfolio</h1>
        <p>Hi, this is what I've done so far - feel free to click through!</p>
        <ul>
            <li><a href="/portfolio/fakebook">Fakebook</a></li>
            <li><a href="/portfolio/Google">Google</a></li>
            <li><a href="/portfolio/hairdresser">Hairdresser</a></li>
        </ul>
        <p>Get back to <a href="/">Home</a> or learn more <a href="/about">about me</a>.</p>
    </body>
</html>